@keyframes changeBg{
   0% {background-image: url(bg_frames/0.jpg);}
   25% {background-image: url(bg_frames/1.jpg);}
   50% {background-image: url(bg_frames/2.jpg);}
   75% {background-image: url(bg_frames/3.jpg);}
   100% {background-image: url(bg_frames/3.jpg);}
}

@keyframes changeIcon{
   0%  {background: url(icon_frames/0.jpg);}
   25% {background: url(icon_frames/1.jpg);}
   50% {background: url(icon_frames/2.jpg);}
   75% {background: url(icon_frames/3.jpg);}
   100% {background: url(icon_frames/4.jpg);}
}

body.accessible #main-content, body.dark #main-content, body.light #main-content {
    background-color: rgba(0, 0, 0, 0) !important;
    color: rgba(220, 220, 220, 1) !important;
}

body.accessible #main-content>div, body.accessible body, body.accessible html, body.dark #main-content>div, body.dark body, body.dark html, body.light #main-content>div, body.light body, body.light html {
    background-color: rgba(26,26,26,0.4) !important;
    color: rgba(220, 220, 220, 1) !important;
}

body {
    background-image: url(bg_frames/0.jpg);
    background-size: cover;
    background-attachment: fixed;
    animation: changeBg 7s infinite;
}

.PlayerIcon-128 {
    background: url(icon_frames/0.jpg) !important;
    width: 0px !important;
    height: 0px !important;
    background-size:  128px;
    padding: 64px;
    animation: changeIcon 7s infinite;
}
