body.accessible #main-content, body.dark #main-content, body.light #main-content {
    background-color: rgba(0, 0, 0, 0) !important;
    color: rgba(220, 220, 220, 1) !important;
}

body.accessible #main-content>div, body.accessible body, body.accessible html, body.dark #main-content>div, body.dark body, body.dark html, body.light #main-content>div, body.light body, body.light html {
    background-color: rgba(26,26,26,0.4) !important;
    color: rgba(220, 220, 220, 1) !important;
}

@keyframes changeBg{
   0%,100%  {background-image: url(bg_1.jpg);}
   25% {background-image: url(bg_2.jpg);}
   50% {background-image: url(bg_3.jpg);}
   75% {background-image: url(bg_4.jpg);}
}

body {
    background-image: url(bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    animation: changeBg 5s infinite;
}

.Card:has(.about-container) {
    visibility: hidden;
}

.PlayerIcon-128 {
    background: url(fakeicon.jpg) !important;
    background-size: auto !important;
    width: 0px !important;
    height: 0px !important;
}