body.accessible #main-content, body.dark #main-content, body.light #main-content {
    background-color: rgba(0, 0, 0, 0) !important;
    color: rgba(220, 220, 220, 1) !important;
}

body.accessible #main-content>div, body.accessible body, body.accessible html, body.dark #main-content>div, body.dark body, body.dark html, body.light #main-content>div, body.light body, body.light html {
    background-color: rgba(26,26,26,0.4) !important;
    color: rgba(220, 220, 220, 1) !important;
}

body {
    background-image: url(bg.png);
    background-size: cover;
    background-attachment: fixed;
}

.Card:has(.about-container) {
    visibility: hidden;
}